body {
  margin: 20px;
  display: flex;
  background-color: #f9f9f9;
}
main .title {
  grid-column: 1/-1;
}
main .title h1 {
  font-size: large;
  padding: 5px;
  color: white;
  background-color: #00bf63;
  width: 150px;
  border-radius: 30px;
  text-align: center;
}
main {
  margin: 0 auto;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  padding: 30px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main form {
  margin-top: 50px;
  color: #1a3a31;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: start;
  gap: 30px;
  flex-direction: column;
  grid-column: 1/7;
}

main form input {
  padding: 10px;
  border: 1px solid #e9e9e9;
}
main form button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #00bf63;
  width: 100%;
  padding: 10px;
}

main form button:hover {
  opacity: 80%;
}

main form input:focus {
  outline: 1px solid #00bf63;
}

main .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 7/-1;
}
