*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  position: relative;
  height: 100vh;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #00bf63;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
}

button:hover {
  color: #ffffff;
  opacity: 90%;
}
input {
  border-radius: 5px;
  width: 100%;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  outline: none;
  height: 50px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  padding-left: 40px;
  box-shadow: none;
}

input:focus {
  background-color: #fff;
  border-color: #00bf63;
  box-shadow: 1px 1px 0 #00bf63;
}

a {
  font-size: 15px;
  color: #00bf63;
  font-weight: bolder;
  text-decoration: none;
}

.main-login {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.main-login img {
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.main-login .main-form {
  z-index: 999999999;
  background-color: white;
  width: 400px;
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
}

.main-login div h1 {
  color: #00bf63;
  text-align: center;
}

.main-login div #desc {
  padding-top: 10px;
  text-align: center;
}

.main-login div p {
  color: gray;
  font-size: small;
}

.main-login div form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}
.main-login div form div {
  padding: 12px 0;
}

.main-login .main-form .main-email {
  position: relative;
}
.main-login .main-form .main-email img {
  position: absolute;
  padding-top: 24px;
  padding-left: 10px;
  top: 0;
  bottom: 0;
  left: 0;
}
