/* Bagian Hero */
a {
  color: black;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.hero .hero-left {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #d8fcce;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hero .hero-left .parent-blob-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero .hero-left .parent-blob-section .child-blob-section {
  position: absolute;
  right: 0;
  top: 0;
}
.hero .hero-left .parent-blob-section h1 {
  font-size: 80px;
  color: #333;
  width: 200px;
}

.hero .hero-left .parent-blob-section .blob {
  z-index: 88;
}

.hero .hero-left .parent3-blob-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-left .parent3-blob-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero .hero-left .parent3-blob-section .child-blob-section {
  position: absolute;
  right: 0;
  top: 0;
}
.hero .hero-left .parent3-blob-section h1 {
  color: #333;
  font-size: 70px;
  width: 200px;
}

.hero .hero-left .parent3-blob-section .blob {
  z-index: 88;
}

/* .hero .hero-right {
  grid-column: 10/-1;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #97f5aa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}
.dot-group {
  bottom: 30px;
  left: 40px;
  position: absolute;
}

.active,
.dot:hover {
  background-color: var(--primary);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Bagian Card */
.card {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 70px auto;
  display: flex;
}

.card .card-list {
  gap: 15px;
  align-items: center;
  display: flex;
  padding: 15px;
  border-radius: 12px;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  -webkit-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  -moz-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  -ms-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.card .card-list:hover {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  background-color: var(--primary);
}

.card .card-list .card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  background-color: #f0eeff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.card .card-list .card-box img {
  width: 100%;
}

.card .card-list div h4 {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: bold;
}

.card .card-list p {
  width: auto;
  font-size: 10px;
}

/* Bagian Card Book */

.cardbook {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 400px;
}

.cardbook .cardbook-left {
  border-radius: 12px;
  width: 50%;
  position: relative;
  overflow: hidden;
  background-color: #fff6ef;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.cardbook .cardbook-right {
  width: 50%;
  overflow: hidden;
  background-color: #e7f1fb;
  border-radius: 12px;
  position: relative;
}

.cardbook .cardbook-left #cardblob1 {
  position: absolute;
  top: -80px;
  right: -50px;
}

.cardbook .cardbook-left #cardblob2 {
  position: absolute;
  bottom: -90px;
  left: -50px;
}

.cardbook .cardbook-left .carbook-recom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  justify-content: center;
  align-items: center;
}
.cardbook .cardbook-left .carbook-recom .carbook-title {
  padding: 0 60px;
  padding-bottom: 30px;
  z-index: 88;
  color: var(--secondary);
}

.cardbook .cardbook-left .carbook-recom .carbook-title p {
  font-size: 12px;
}

.cardbook .cardbook-left .carbook-recom .cardbook-list {
  display: flex;
  gap: 10px;
}

.cardbook .cardbook-left .carbook-recom .cardbook-list .gambar {
  z-index: 88;
  transition: 0.5s ease-in;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cardbook .cardbook-right #cardblob3 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.cardbook .cardbook-right .carbook-recom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.cardbook .cardbook-right .carbook-recom .carbook-title {
  padding: 0 60px;
  padding-bottom: 30px;
  z-index: 88;
  color: var(--secondary);
}

.cardbook .cardbook-right .carbook-recom .carbook-title p {
  font-size: 12px;
}

.cardbook .cardbook-right .carbook-recom .cardbook-list {
  display: flex;
  gap: 10px;
}

.cardbook .cardbook-right .carbook-recom .cardbook-list .gambar {
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  z-index: 88;
  transition: 0.5s ease-in;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}

.cardbook .cardbook-right .carbook-recom .cardbook-list .gambar:hover {
  transform: scale(2);
  z-index: 99;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.cardbook .cardbook-left .carbook-recom .cardbook-list .gambar:hover {
  transform: scale(2);
  z-index: 99;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}
/* Bagian Author Card */
main .special {
  margin-top: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

main .special .special-title {
  margin: 60px 0;
  text-align: center;
}

main .special .special-title h1 {
  font-weight: bold;
  font-size: 30px;
}

main .special .special-title p {
  width: 400px;
  font-size: small;
  color: #adadb7;
  margin: 0 auto;
}

main .special .special-card-group {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
}

main .special .special-card-group .special-card {
  display: flex;

  gap: 13px;
}

main .special .special-card-group .special-card-left {
  width: 230px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 300px;
  border-radius: 12px;
  transform: rotate(-15deg);
  padding: 10px;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

main .special .special-card-group .special-card-left:hover {
  transform: scale(1.5);
  z-index: 99;
}

main .special .special-card-group .special-card-left .special-card-left-title {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
}
main .special .special-card-group .special-card-left h1 {
  font-size: 30px;
  font-style: italic;
}

main .special .special-card-group .special-card-right {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  justify-content: space-between;
  width: 230px;
  transform: rotate(15deg);
  color: var(--secondary);
  height: 300px;
  border-radius: 12px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

main .special .special-card-group .special-card-right:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

main .special .special-card-group .special-card-left button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

main .special .special-card-group .special-card-right button {
  padding: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--secondary);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

main
  .special
  .special-card-group
  .special-card-right
  .special-card-right-title {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
}
main .special .special-card-group .special-card-right h1 {
  font-size: 30px;
  font-style: italic;
}

main .special .special-card-group .special-card-right button:hover {
  opacity: calc(70%);
}

main .special .special-card-group .special-card-left button:hover {
  opacity: calc(90%);
}

@media (min-width: 150px) and (max-width: 767px) {
  main {
    width: 84%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  main .special {
    margin-top: 5px;
    padding: 0;
  }

  .card {
    display: block;
  }

  main .special .special-card-group .special-card {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  main
    .special
    .special-card-group
    .special-card-left
    .special-card-left-title {
    gap: 20px;
  }
  main
    .special
    .special-card-group
    .special-card-left
    .special-card-left-title {
    padding-bottom: 23px;
  }
  main .special .special-card-group .special-card-right h1 {
    padding-bottom: 10px;
  }

  main .special .special-title p {
    width: auto;
  }
  main .special .special-card-group .special-card-right {
    gap: 20px;
    z-index: 3;
  }
  main .special .special-card-group {
    margin-bottom: 150px;
  }

  .cardbook {
    height: 100%;
    flex-direction: column;
  }
  .cardbook .cardbook-left {
    width: 100%;
    height: 100%;
  }
  .cardbook .cardbook-right {
    width: 100%;
    height: 100%;
  }

  .cardbook .cardbook-left .carbook-recom .cardbook-list {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
  }
  .cardbook .cardbook-left .carbook-recom .cardbook-list img {
    width: 70px;
    height: 70px;
  }

  .cardbook .cardbook-right .carbook-recom .cardbook-list {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
  }
  .cardbook .cardbook-right .carbook-recom .cardbook-list img {
    width: 70px;
    height: 70px;
  }
  .hero .hero-left .parent-blob-section h1 {
    font-size: 20px;
    padding-left: 10px;
  }
  .hero .hero-left .parent3-blob-section h1 {
    font-size: 20px;
    width: 100px;
    padding-left: 10px;
  }
  .hero .hero-left .parent-blob-section .blob {
    width: 100px;
    height: 100px;
  }
  .hero .hero-left .parent3-blob-section .blob {
    width: 100px;
    height: 100px;
  }
  .dot-group {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }
  .dot-group .dot {
    height: 10px;
    width: 10px;
  }
}
