body {
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a3a31;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  width: 95%;
  height: 95%;
}

main .edit-hapus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main .edit-hapus h3 {
  background-color: #00bf63;
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  color: white;
  width: 140px;
  margin-bottom: 10px;
}
main .edit-hapus button {
  cursor: pointer;
  border: none;
  background-color: #d40404;
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  color: white;
  width: 140px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e9e9e9;
}
table input {
  border: 1px solid #e9e9e9;
  padding: 7px;
  width: 100%;
}
table input:focus {
  outline: 1px solid #00bf63;
}

table input::file-selector-button {
  color: #1a3a31;
  background-color: #1a3a31;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

table input::file-selector-button:hover {
  opacity: 80%;
}

table button {
  cursor: pointer;
  background-color: #1a3a31;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 10px;
}
table button:hover {
  opacity: 80%;
}

table tr,
td {
  padding: 13px;
  border-collapse: collapse;
  border: 1px solid #e9e9e9;
}

.khusus {
  display: none;
}
@media (min-width: 150px) and (max-width: 1024px) {
  .khusus {
    width: 100%;
    display: block;
    text-align: center;
  }
  main {
    display: none;
  }
}
