main {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  margin: 100px auto 180px auto;
}

main .cover {
  grid-column: 1/4;
  border-radius: 13px;
  width: 250px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

main .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1a3a31;
  gap: 15px;
  grid-column: 4/-1;
}

main .desc .star {
  display: flex;
  padding: 10px;
  border-radius: 5px;
}

main .desc .star h4 {
  margin-left: 10px;
}

main .desc .desc-title {
  color: #656566;
  font-size: small;
  text-align: justify;
}

main .desc .card-author {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

main .desc .card-author .card-author-img img {
  padding: 10px;
  height: 100%;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #f6f6f6;
}

main .desc .card-author .card-author-img {
  font-size: small;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5px;
}
main .desc .card-author .card-author-img .card-author-desc {
  width: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

main .desc .card-author .card-author-img .card-author-desc p {
  font-size: smaller;
  height: 100%;
  color: #656566;
}

main .desc .card-author .card-author-img .card-author-desc h5 {
  font-size: 14px;
}

main .desc .card-author .card-button {
  display: flex;
  gap: 5px;
}

main .desc .card-author .card-button button {
  font-weight: bold;
  height: 30px;
  width: 80px;
  color: white;
  background-color: #ff754c;
  border-radius: 10px;
}
main .borrower-list {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: end;
  border-top: 5px dotted #adadb7;
}

main .borrower-list button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

main .borrower-list button:hover {
  opacity: 80%;
}

main .desc .card-title .title {
  justify-content: space-between;
}
.ini {
  display: flex;
  width: 85%;
  margin: 44px auto 5px auto;
  justify-content: start;
}
h2 {
  width: 150px;
  text-align: center;
  font-size: medium;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 50px;
  color: white;
  background-color: var(--primary);
}

@media (min-width: 150px) and (max-width: 1024px) {
  main {
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }
  main .desc .card-author {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  main .img-cover {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  main .cover {
    margin: 0 auto;
    width: 200px;
    height: 300px;
  }
  main .desc .card-author .card-author-img .card-author-desc h5 {
    width: 100px;
    font-size: 11px;
  }
  main .desc .card-title .title {
    justify-content: center;
    padding-top: 10px;
  }
}
